*~
*\#
*.swp
.\#*

*.vo
*.aux
*.glob
*.v.d

.*.cache
*.save

Makefile.coq
.coqdeps.d

html

.env

bisect*.out

Rlib/base.d

extract.ml
extract.mli
extractBisect.ml
extractBisect.mli

/_esy
/node_modules

CoqMakefile.conf

